* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register-page {
    background-image: url('asset/BG_daftar.jpg');
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
}

body {
    font-family: Arial, sans-serif;
    background-image: url('asset/BG\ Masuk.jpg'); 
    background-size: cover;  
    background-position: center center; 
    background-attachment: fixed;
    color: #e0e0e0; 
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;
    padding: 10px;
    
}


.container {
    background-color: rgba(30, 30, 30, 0.8);  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 30px;
}




header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 60px; 
    height: 60px;
    margin-right: 10px; 
}

.brand-name {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}


.welcome-text {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left; 
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #e0e0e0; 
}

input {
    padding: 10px;
    margin: 5px 0 20px 0;
    width: 100%;
    border: 1px solid #444; 
    background-color: #333; 
    color: #e0e0e0; 
    border-radius: 4px;
}


.form-links {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #e0e0e0;
    margin-bottom: 20px;
}

.form-links span {
    color: #e0e0e0;
}

.form-links a {
    color: #bb86fc;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}


button {
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3700b3; 
}


.google-login {
    margin-top: 20px;
}

.google-button {
    padding: 10px;
    background-color: #00000085;
    color: white;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.google-button .google-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
}

.google-button:hover {
    background-color: #6d6b6b88; 
}



.or-text {
    font-size: 14px;
    color: #e0e0e0;
    margin: 20px 0;
    text-align: center;
}


@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
}

